.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px #272d3a0e;
}

.sidenav .mat-toolbar {
  background-color: #272d3a;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.label {
  color: white;
}

@media (min-width: 600px) {
  .sidenav {
    display: none;
  }
}

.mat-toolbar {
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 10;
  overflow: visible;
  background-color: #272d3a;
  box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%);
  transition: 0.3s;
  font-style: bold;
  font-family: "Roboto";
}
.logoimg {
  position: relative;
  top: 0.2em;
  height: 5em;
  object-fit: contain;
}

@media (max-width: 630px) {
  .logoimg {
    display: none;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.items {
  color: white;
  transition: 0.3s;
  font-style: bold;
  font-size: 16px;
  position: relative;
  top: 2em;
  border:none;
  font-family: "Raleway", sans-serif;
  transition: 1s;
  padding-left: 20px;
}

.items:hover {
  cursor: pointer;
  color: #ee0f6f;

}

.nav {
	position: fixed;
	top: 0;
	left: -210px;
	width: 300px;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: white;
	transition: left 1s ease;
	z-index: 0;
	
	ul {
		position: relative;
		list-style-type: none;
		margin: 100px 0;
		padding: 0;
		
		li {
			position: relative;
			display: block;
			border-bottom: 5px solid rgba(white,1);
			
			a {
				position: relative;
				display: block;
				margin: 0;
				padding: 15px 20px;
				color: white;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				
				&:before {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					transition: width 250ms ease;
					z-index: -1;
				}
				
				&:hover {
					color: #444;
					
					&:before {
						width: 100%;
						height: 100%;
						background-color: rgba(white,1);
						transition: width 250ms ease;
					}
				}
			}
		}
	}
}

////raleway font
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
