<app-side-nav>

  <header>
    <h1>WE PROVIDE</h1>
    <h2>FREE SELF DIAGNOSIS FACILTY</h2>
    <h3 style="text-align: center;margin-top: 4px;position: relative;top: -2em;" class="none">
      <b>
        FREE SELF DIAGNOSIS FACILTY
      </b>
    </h3>
    <p class="p">Get your self Diagnoised under few seconds generate a health report for free schedule a consultant if
      needed.</p>

    <div class="btnwrapper">
      <button (click)="showHide()" class="btn" mat-raised-button color="accent">
        <p style="font-family: Georgia;margin-top:10px ;">
          START NOW
        </p>
      </button>
    </div>


    <div class="containerwrapper">
      <div class="containers">
        <h3 class="citem">
          REGISTER YOURSELF
        </h3>
        <div style="text-align: center;">
          <button mat-stroked-button color="basic">

            NEXT
            <mat-icon>
              arrow_right_alt
            </mat-icon>
          </button>
        </div>
      </div>

      <div class="containers">
        <h3 class="citem">
          START DIAGNOSE
        </h3>

        <div style="text-align: center;">
          <button mat-stroked-button color="basic">

            NEXT
            <mat-icon>
              arrow_right_alt
            </mat-icon>
          </button>
        </div>

      </div>
      <div class="containers">
        <h3 class="citem">
          GENERATE REPORT
        </h3>

        <div style="text-align: center;">
          <button mat-stroked-button color="basic">

            NEXT
            <mat-icon>
              arrow_right_alt
            </mat-icon>
          </button>
        </div>

      </div>
      <div class="containers">
        <h3 class="citem">
          CONSULT SPECIALIST
        </h3>

        <div style="text-align: center;">
          <button mat-stroked-button color="basic">

            NEXT
            <mat-icon>
              arrow_right_alt
            </mat-icon>
          </button>
        </div>

      </div>

    </div>

    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon class="svg--sm" fill="white" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100" />
      <polygon class="svg--lg" fill="white"
        points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
    </svg>

  </header>

  <section style="background: white;">

    <h1 style="padding-top: 10px;padding-bottom: 30px;">
      <b>
        SERVICES WE OFFER
      </b>
    </h1>
    <div class="flex">

      <div class="card">

        <div style="text-align: center;">

          <img class="cardicons" src="https://img.icons8.com/dusk/2x/pulse.png" alt="">

        </div>

        <div class="container">

          <h4><b>DIAGNOSE YOUR SELF FOR FREE</b></h4>
          <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Error ullam, praesentium
            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum maiores? Amet
            veniam reprehenderit voluptate quod?</p>

        </div>

      </div>


      <div class="card">

        <div style="text-align: center;">
          <img class="cardicons" src="https://img.icons8.com/dusk/2x/health-book.png" alt="">

        </div>

        <div class="container">

          <h4><b>GET COMPLETE ASSISTANCE</b></h4>
          <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Error ullam, praesentium
            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum maiores? Amet
            veniam reprehenderit voluptate quod?</p>

        </div>

      </div>

      <div class="card">

        <div style="text-align: center;">

          <img class="cardicons" src="https://img.icons8.com/dusk/2x/heart-health.png" alt="">

        </div>

        <div class="container">

          <h4><b>GENERATE YOUR MEDICAL REPORT</b></h4>
          <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Error ullam, praesentium
            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum maiores? Amet
            veniam reprehenderit voluptate quod?</p>

        </div>

      </div>

    </div>






  </section>

  <div *ngIf="width >=1000" class="wrapper">


    <svg class="svg" viewBox="0 0 200 100" preserveAspectRatio="none">
      <circle fill="white" cx="0" cy="100" r="100" />
      <circle fill="white" cx="200" cy="100" r="100" />
    </svg>


    <section>

      <div class="wrappertext">

        <h2 class="workstext">
          HOW IT WORKS
        </h2>
        <p class="aligncenter">
          Here is an extract of the workings if we choose to opt for us to provide you with health solutions
        </p>

        <div class="flex">

          <div class="works">

            <div style="text-align: center;">

              <img class="cardicons" src="https://img.icons8.com/plasticine/2x/verified-account.png" alt="">

            </div>

            <div class="container">

              <h4><b> CREATE A FREE ACCOUNT</b></h4>
              <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error ullam, praesentium
                eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                maiores? Amet

                veniam reprehenderit voluptate quod?</p>

            </div>

          </div>

          <div class="works">

            <div style="text-align: center;">

              <img class="cardicons" src="https://img.icons8.com/color/2x/test-tube.png" alt="">

            </div>

            <div class="container">

              <h4><b>OUR AUTOMATED DIAGNOSE SYSTEM</b></h4>

              <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error ullam, praesentium
                eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                maiores? Amet
                veniam reprehenderit voluptate quod?</p>

            </div>

          </div>

          <div class="works">

            <div style="text-align: center;">

              <img class="cardicons" src="https://img.icons8.com/dusk/2x/stethoscope.png" alt="">

            </div>

            <div class="container">

              <h4><b>AUTOMATICALLY SCHEDULE CONSULTANCE</b></h4>
              <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error ullam, praesentium
                eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                maiores? Amet
                veniam reprehenderit voluptate quod?</p>

            </div>

          </div>

        </div>


      </div>

    </section>
  </div>

  <div *ngIf="width < 1000" class="wrapper">


    <svg class="svg" viewBox="0 0 200 100" preserveAspectRatio="none">
      <circle fill="white" cx="0" cy="100" r="100" />
      <circle fill="white" cx="200" cy="100" r="100" />
    </svg>


    <section>

      <div class="wrappertext">

        <h2 *ngIf="width>742" class="workstext">


        </h2>



        <p class="aligncenter">
          <b style=" font-size: 50px;
          color: white;font-family: railway;padding-bottom: 2em;">
            HOW IT WORKS
          </b>
        </p>

        <p class="aligncenter">

          <br>
          Here is an extract of the workings if we choose to opt for us to provide you with health solutions
        </p>

        <div class="flex">

          <div class="works">

            <div style="text-align: center;">

              <img class="cardicons" src="https://img.icons8.com/plasticine/2x/verified-account.png" alt="">

            </div>

            <div class="container">

              <h4><b> CREATE A FREE ACCOUNT</b></h4>
              <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error ullam, praesentium
                eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                maiores? Amet

                veniam reprehenderit voluptate quod?</p>

            </div>

          </div>

          <div class="works">

            <div style="text-align: center;">

              <img class="cardicons" src="https://img.icons8.com/color/2x/test-tube.png" alt="">

            </div>

            <div class="container">

              <h4><b>OUR AUTOMATED DIAGNOSE SYSTEM</b></h4>

              <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error ullam, praesentium
                eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                maiores? Amet
                veniam reprehenderit voluptate quod?</p>

            </div>

          </div>

          <div class="works">

            <div style="text-align: center;">

              <img class="cardicons" src="https://img.icons8.com/dusk/2x/stethoscope.png" alt="">

            </div>

            <div class="container">

              <h4><b>AUTOMATICALLY SCHEDULE CONSULTANCE</b></h4>
              <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error ullam, praesentium
                eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                maiores? Amet
                veniam reprehenderit voluptate quod?</p>

            </div>

          </div>

        </div>


      </div>

    </section>
  </div>


  <div *ngIf="width>=1346">

    <h1 style="padding:0">
      <b>
        WORKING DESCRIBED IN A LOOP
      </b>
    </h1>

    <h1 class="loops">


      <div class="width">
        <div class="loopcard">
          <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/lock.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              REGISTERATION

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

        <div class="loopcard">
          <img class="imeghide" src="../assets/bulb.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              GENERATE MEDICAL REPORT

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

      </div>

      <div *ngIf="width>1000" class="width">
        <img src="../assets/art.png" alt="">
      </div>

      <div class="width">
        <div class="loopcard">
          <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/feasibility.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              DIAGNOSE YOURSELF

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

        <div class="loopcard">
          <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/bulb.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              SCHEDULE CONSULT

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

      </div>

    </h1>
  </div>


  <div *ngIf="width < 1346">

    <h1 style="padding:0">
      <b>
        WORKING DESCRIBED IN A LOOP
      </b>
    </h1>

    <h1 class="loops">


      <div class="flexi">
        <div class="loopcard">
          <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/lock.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              REGISTERATION

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

        <div class="loopcard">
          <img class="imeghide" src="../assets/bulb.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              GENERATE MEDICAL REPORT

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>


        <div class="loopcard">
          <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/feasibility.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              DIAGNOSE YOURSELF

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

        <div class="loopcard">
          <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/bulb.png" alt="">

          <div style="display: flex;margin-left: 1em;flex-direction: column;">
            <h3 style="color: #2B323F;font-size: 18px;">

              SCHEDULE CONSULT

            </h3>

            <p style="color: #4C5462;font-family: railway;font-size:16px ;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum repellat
              ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore nihil
              dolorem praesentium veritatis!
            </p>

          </div>
        </div>

      </div>

    </h1>
  </div>



  <footer class="footer">
    <p style="padding: 0;font-size: 20px;color: white; font-family: 'Raleway', sans-serif;"><b>
        SELFDOCTOR
      </b></p>
    <p style="padding: 0;font-size: 14px;color: white;font-family: 'Raleway', sans-serif;">ALL RIGHTS RESERVED.</p>
  </footer>


  <div *ngIf="showForm" style="display: flex;justify-content: center;align-items: center;">
    <div style="position:fixed;top:100px;z-index:1000;width: 40%;height: 80%;background: white; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);display: flex;justify-content: center;flex-direction: column;">

      <div style="margin-top:40px;text-align: right;">



      </div>
      <div style="position: relative;padding: 15px;top: -4em;">
        <h1 *ngIf="signUp" class="squadafont" style="padding: 10px;">
          CREATE NEW ACCOUNT
        </h1>

        <h1 *ngIf="!signUp" class="squadafont" style="padding: 10px;">
          LOGIN TO YOUR ACCOUNT
        </h1>

        <h2 *ngIf="signUp" style="color: black;font-size: 18px;position: relative;top: 1.1em;font-family: railway;">
          Already Have An Account? <span (click)="toggleForm()" class="squadafont">
            <u>
              SIGNIN
            </u></span>
        </h2>


        <h2 *ngIf="!signUp" style="color: black;font-size: 18px;position: relative;top: 1.1em;font-family: railway;">
          Don't Have An Account? <span (click)="toggleForm()" class="squadafont">
            <u>
              SIGNUP
            </u></span>
        </h2>

        <div *ngIf="signUp" style="display: flex;justify-content: center;margin-top: 1.5em;flex-direction: column;">

          <div
            style="max-width: 100%;justify-content: center;align-items: center;display: flex;flex-direction: column;">
            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">EMAIL</mat-label>
              <mat-icon matPrefix>mail</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Enter your valid email</mat-hint>
            </mat-form-field>


            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">Password</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Create a strong password</mat-hint>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">NAME</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Create a strong password</mat-hint>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">Phone</mat-label>
              <mat-icon type="number" matPrefix>phone</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Enter A valid Phone</mat-hint>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">Age</mat-label>
              <mat-icon matPrefix>celebration</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Create a strong password</mat-hint>
            </mat-form-field>


            <div style="margin-top: 5px;">
              <button style="width: 16em;" mat-flat-button color="accent">

                SIGNUP

              </button>

              <br>
              <div style="height: 10px;">

              </div>
              <button style="width: 16em;" (click)="showHide()" mat-stroked-button color="warn">

                CANCEL

              </button>

            </div>
          </div>


        </div>

        <div *ngIf="!signUp" style="display: flex;justify-content: center;margin-top: 1.5em;flex-direction: column;">

          <div
            style="max-width: 100%;justify-content: center;align-items: center;display: flex;flex-direction: column;">
            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">EMAIL</mat-label>
              <mat-icon matPrefix>mail</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Enter your valid email</mat-hint>
            </mat-form-field>


            <mat-form-field color="accent" appearance="outline">
              <mat-label style="font-family: railway;">Password</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input type="text" matInput placeholder="Placeholder">

              <mat-hint style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">Create a strong password</mat-hint>
            </mat-form-field>


            <div style="margin-top: 5px;">
              <button style="width: 16em;" mat-flat-button color="accent">

                SIGNIN

              </button>
              <br>
              <div style="height: 10px;">

              </div>
              <button style="width: 16em;" (click)="showHide()" mat-stroked-button color="warn">

                CANCEL

              </button>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</app-side-nav>